In [1]:
import pandas as pd

In [2]:
# from datetime import datetime, timedelta

# # Start time
# start_time = datetime.strptime('08:00', '%H:%M')

# # Number of iterations to show the time for 24 hours
# iterations = int(24 * 60 / 15)

# # Loop to add 15 minutes and print the result
# for i in range(iterations):
#     new_time = start_time + timedelta(minutes=15 * i)
#     print(new_time.strftime('%I:%M %p'))

# Morning

In [3]:
from datetime import datetime, timedelta

# Start time
start_time = datetime.strptime('08:00 AM', '%I:%M %p')

# End time
end_time = datetime.strptime('01:00 PM', '%I:%M %p')

date_list = []

# Loop to add 15 minutes and print the result until the end time
current_time = start_time
while current_time <= end_time:
    date_list.append(current_time.strftime('%I:%M %p'))
#     print(current_time.strftime('%I:%M %p'))
    current_time += timedelta(minutes=20)

In [4]:
output = pd.DataFrame({'Time Allocation': date_list})
output.to_csv('Time Allocations Morning.csv')

In [5]:
output

   Time Allocation
0         08:00 AM
1         08:20 AM
2         08:40 AM
3         09:00 AM
4         09:20 AM
5         09:40 AM
6         10:00 AM
7         10:20 AM
8         10:40 AM
9         11:00 AM
10        11:20 AM
11        11:40 AM
12        12:00 PM
13        12:20 PM
14        12:40 PM
15        01:00 PM

# Afternoon

In [6]:
from datetime import datetime, timedelta

# Start time
start_time = datetime.strptime('02:00 PM', '%I:%M %p')

# End time
end_time = datetime.strptime('04:40 PM', '%I:%M %p')

date_list2 = []

# Loop to add 15 minutes and print the result until the end time
current_time = start_time
while current_time <= end_time:
    date_list2.append(current_time.strftime('%I:%M %p'))
#     print(current_time.strftime('%I:%M %p'))
    current_time += timedelta(minutes=20)

In [7]:
output2 = pd.DataFrame({'Time Allocation': date_list2})
output2.to_csv('Time Allocations Evening.csv')

In [8]:
output2

  Time Allocation
0        02:00 PM
1        02:20 PM
2        02:40 PM
3        03:00 PM
4        03:20 PM
5        03:40 PM
6        04:00 PM
7        04:20 PM
8        04:40 PM